.page {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.sectionTitle {
  text-align: center;
  width: 100%;
  /* background-color: blue; */
}

.rules {
  flex-basis: 30%;
  border-right: 1px solid white;
}

.transactions {
  flex-basis: 100%;
}